[Unit]
Description=LANAllowWeb OnFailure for %I

[Service]
Type=oneshot
WorkingDirectory=/etc/lanloginserver
ExecStart=/etc/lanloginserver/stoplanloginserver.sh -i %i
