[Unit]
Description=Start WifiAllowWeb for %I
After=network.target

[Service]
WorkingDirectory=/etc/wifiloginserver
ExecStart=/etc/wifiloginserver/wifiloginserver.sh -i %i
ExecStop=/etc/wifiloginserver/stopwifiloginserver.sh -i %i


[Install]
WantedBy=multi-user.target
